{% extends 'base.html'%}
{% block content %}
<ol>
    {% for product in products %}
    
    <li>{{product.name}} - Rs. {{product.price}}</li>
    
    {% endfor %}
</ol>
<div class="car">
    {% for product in products %}
    <div class="cart">
        <div class="cart_box">
            <img src="{{product.img.url}}">
        </div>
        <div class="card_title">
            <h3>{{product.name}}</h3>
        </div>
        <div class="card_about">
            <p>{{product.price}}</p>
        </div>
        <div class="cart_button">
            <button>add to cart</button>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}